*.orig
library/Zend/
public/error_log
tests/output
public/iaticodes
tests/annual_csv
nbproject/
*.komodoproject
.buildpath
.project
.settings/
data/log/zf.iati.log
public/files/
application/configs/application.ini
