*.orig
.htaccess
library/Zend/
public/error_log
tests/output
public/iaticodes
public/files/v1.03/
tests/annual_csv
nbproject/
*.komodoproject
.buildpath
.project
.settings/
data/log/zf.iati.log
application/configs/application.ini
public/captcha
