@charset "utf-8";
/* CSS Document */
h1
{
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	padding:5px 0;
}
a
{
	text-decoration:underline;
	color:#009ada;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
}
p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}
body
{
	background:url(../images/wapper-bg.png) repeat-x center top #e5e5e5 !important;
	margin:0px;
	padding:0px;
}
#wapper
{
	margin:0px;
	padding:0px;
}
/*#header
{
	height:165px;
}
#header-logo
{
	margin-top:35px;
	float:left;
}*/
#login-nav
{
	float:right;
	margin-top:15px;
}
#login-nav .user-login
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/Login-tab.png) no-repeat;
	text-indent:-9999px;
	/*margin-right:5px;*/
}
#login-nav .user-logout
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/Logout-tab.png) no-repeat;
	text-indent:-9999px;
	margin-right:5px;
}
/*
#signup
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/signup-tab.png) no-repeat !important;
	text-indent:-9999px;
}
#navigation
{
	height:35px;
	background:url(../images/navigation-bg.png) no-repeat;
}
.home
{
	border:none !Important;
}
#navigation ul
{
	margin:0px;
	padding:0px;
}
#navigation ul li
{
	list-style:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:10px 0 0 15px;
	color:#887272;
	border-left:1px solid #887272;
	height:15px;
}
#navigation ul li a
{
	padding-left:15px;
	color:#887272;
	text-decoration:none;
}
#navigation ul li a:hover
{
	text-decoration:underline;
}*/
#search-tab
{
	float:right;
	clear:both;
	margin-top:45px;
	!margin-top:60px;
}
#search-tab table
{
	border:1px solid #c9c9c9;
	margin:5px 10px 0 0;
	background:#e5e5e5;	
}
#search-tab #search
{
	border:none;
	height:20px;
	background:#e5e5e5;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:0px;
}
#search-tab #submit
{
	background:#e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b4aaaa;
	cursor:pointer;
	height:20px;
	width:auto;
	border:none;
	margin-top:0px;
}
#search-tab input
{
	margin-bottom:0px;
}

#contain-body
{
	margin-top:15px;
}
#contain-left
{
	float:left;
}
#contain-top
{
	background:url(../images/contain-left-top-bg.png) no-repeat;
	height:9px;
	width:700px;
	margin:0px;
	padding:0px;
}
#contain-bottom
{
	background:url(../images/contain-left-bottom-bg.png) no-repeat;
	height:9px;
	width:700px;
}
#contain-area
{
	width:698px;
	border-left:1px solid #b4aaaa;
	border-right:1px solid #b4aaaa;
	background:#FFF;
}
#contain
{
	margin:0 20px;
	padding-bottom:20px;
}
#contain-right
{
	float:right;	
}
#contain-right-top
{
	background:url(../images/right-contain-top-bg.png) no-repeat;
	height:9px;
	width:220px;
}
#contain-right-bottom
{
	background:url(../images/right-contain-bottom-bg.png) no-repeat;
	height:9px;
	width:220px;
}
#contain-right-area
{
	width:218x;
	border-left:1px solid #b4aaaa;
	border-right:1px solid #b4aaaa;
	background:#FFF;
}
#contain-inner
{
	margin:0 10px 0 10px;
}
#nav-list ul li
{
	list-style:disc;
	padding-bottom:5px;
	margin-left:10px;
	color:#009ADA;
	font-size:12px;
}
#nav-list ul li a
{
	text-decoration:none;
	color:#887272;
}
#nav-list ul li a:hover
{
	text-decoration:underline;
}
#contain table
{
	border:1px solid #b4aaaa;
	width:100%;
}
#contain tr, #contain td, #contain th
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	border:1px solid #fff;
	padding:5px 5px;
	line-height:18px;
	text-align:left;
}
#footer-wapper
{
	/*border-bottom:1px solid #B4AAAA;*/
	border-top:1px solid #B4AAAA;
	margin-top:15px;
}
#footer
{
	
}
#footer-area
{
	height:78px;
	width:940px;
	/*background:url(../images/footer-bg.png) no-repeat;
	height:84px;*/	
}
#footer-area h2
{
	margin-top:10px;
	color:#887272;
	font-family:Arial, Helvetica, sans-serif;
}
#footer-inner
{
	margin:0 10px 0 10px;
}
.copy-right
{
	float:left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
}
.power-by
{
	float:right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	margin-top:38px;	
}

/*alert massage*/

.errors
{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/wrong-icon.gif) no-repeat center left;
	color:#FF0000;
	margin-left:100px;
	padding:1px 0 1px 20px;
}
.errors li
{
	margin:5px 0;
}
.form-required
{
	color:#F00;
}
.message, .info
{
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/bubble-speech.png) no-repeat center left #fbedbd;
	color:#624c02;
	padding-left:40px;
	border:1px solid #f9d044;
}
.message li, .info li
{
	margin: 0;
	padding: 9px;
}
ul.error
{
	font-size:12px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/bubble-speech-error.png) no-repeat center left #ffeeee;
	color:#990000;
	padding-left:40px;
	border:1px solid #cc0000;
}
.error
{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FF0000;
	
}
.error li
{
	margin:9px 0;
}
/*Login pages*/

label
{
	float:left;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#887272;
	margin-top:10px;
}
input
{
	width:200px;
	height:20px;
	margin-top:10px;
}
#login-element #login, #create_new_account, #email_new_password, #Submit
{
	float:none;
	height:20px;
	width:auto;
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
}
#login-label, #create_new_account-label, #email_new_password-label, #Submit-label
{
	float:left;
	width:100px;
}
#confirmpassword-label .required
{
	line-height:12px;
}
#lang_id-label
{
	height:1px;
}
#contain #Login
{
	margin-top:30px;
}
#new-user, #forget-password
{
	margin-left:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-bottom:5px;
	color:#887272;
}
#CategoryCode
{
	margin-top:10px;
	width:200px;
}
/*Text Area*/
#Description
{
	margin-top:10px;
}

/*table tr td th class*/

.odd
{
	background:#d7e1c5;
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:12px;
}
.even
{
	background:#dbdbdb;
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:12px;
}
.th-border
{
	background:#66a9bd;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:13px;
}
#add-list
{
	margin-bottom:10px;
}
#add-list a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
}
#view-category
{
	margin-top:10px;
}
#view-category a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;

}
#language
{
	margin-top:5px;
}
#language .action-view
{
	height:15px;
	width:20px;
	background:#91c5d4;
	border:1px solid #9f7f7f;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	display:block;
	float:left;
	margin-right:5px;
	padding:0 0 4px 5px;
}
#language .action-view:hover
{
	background:#66a9bd;
}
#page-title
{
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	font-size:12px;
	font-weight:bold;
}

/*coad list*/

#contain p
{
	padding:10px 0;
}
.code-list
{
	/*border:1px solid #000;*/
	overflow:auto;
	/*background:#333333;*/
	margin-bottom:15px;
	font-size:13px;
	color:#333;
}
pre
{
	margin:0px;
	padding:0px;
}
code
{	
	background:#333333;
	font-size:15px;
	color:#FFF;
	padding:0px;
	display:block;
	width:auto;
}
code
{
	background:#333333;
	display:block;
}
.retrieving-list
{

}
.retrieving-list p
{
	font-family:"Courier New", Courier, monospace;
	font-size:13px;
	line-height:25px;
	padding-left:20px;
}
#contain-1 h2
{
	font-size:20px;
	padding:10px 0;
	font-family:Arial, Helvetica, sans-serif;
}
.retrieving-list h2
{
	font-family:"Courier New", Courier, monospace !important;
	font-size:20px;
	padding:10px 0;
}
.tag
{
	color:#dfc484;
}
.atv
{
	color:#8E9C5C;
}
.url
{
	color:#c9783e;
}
.com
{
	color:#999999;
}
