@charset "utf-8";
/* CSS Document */
h1
{
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	padding:5px 0;
}

h3{
    margin-top: 0px;	
}
	
a
{
	color:#009ada;
	/*font-family:Arial, Helvetica, sans-serif;*/
}
p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}
body
{
	background:url(../images/iati-wep/wep-bg.jpg) repeat-x center top #d3d3d3 !important;
	margin:0px;
	padding:0 0 25px 0;
}
#wapper
{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.container-wrapper
{
	/*height: 85px;*/
}
table {
	border-collapse: collapse;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
/*#header
{
	height:165px;
}
#header-logo
{
	margin-top:35px;
	float:left;
}*/

#header
{
	background:#FFFFFF;
	font-family: 'Amaranth', sans-serif;
	/*position:fixed;
	margin:0;
	padding:0;
	width:100%;*/
}
.logo
{
	float:left;
	padding:22px 0;
	width:300px;
}
.nav
{
	float:right;
	width:600px;
}
.nav ul li
{
	font-family: 'Amaranth', sans-serif;
	float:right;
	margin-left:10px;
}
.nav ul li a
{	
	display:block;
	padding:27px 13px;
	outline:none;
}
.nav ul li a:hover
{
	background:#d5e0e4;
}
.nav ul li a span.title
{
	font-size:24px;
	color:#000;
}
.nav ul li a
{
	text-decoration:none;
}
.nav ul li a span
{
	font-size:12px;
	color:#747474;
}
.nav ul li.support
{
	background:url(../stylesheet/images/support-bg.png) no-repeat right top;
	color:#e8f8d7;
	font-size:14px;
	padding:10px 25px 31px 25px;
}
.login-section
{
	background:#d5e0e4;
}
#login
{
	float:right;
	padding:20px 0;
	position:relative;
}
#login input
{
	border:1px solid #a5b1b6;
	font-size:12px;
	margin: 5px 15px 0 0;
	padding:5px 4px;
	width:195px;
}
#login label
{
	font-size:12px;
	font-family: 'Amaranth', sans-serif;
	font-weight:bold;
	color:#575a5b;
	padding-bottom:5px;
}
#login #login-bottom
{
	background:url(../images/login-bottom.png) no-repeat;
	border:none;
	cursor:pointer;
	text-indent:-9999px;
	width:95px;
}
.login-parent
{
	position:absolute;
	top:180px;
	left:1018px;

}
.login-parent a
{
	background: url(../stylesheet/images/login-parent-icon.png) no-repeat center left #d5e0e4;
	border-radius: 0px 0px 4px 4px;
	color:#575a5b;
	font-size:14px;
	font-weight:bold;
	padding:4px 10px 6px 35px;
	text-decoration:none;
}

/***Close header section***/


#navigation-wrapper {
	border: none;
}

#login-nav
{
	color: #979797;
	float:right;
	margin-top:5px;
}

#login-nav .user-name {
	background: url(../images/iati-wep/admin.jpg) no-repeat right center;
	padding-right: 9px;
}

#login-nav .user-login
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/Login-tab.png) no-repeat;
	text-indent:-9999px;
	/*margin-right:5px;*/
}
#login-nav .user-logout
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/Logout-tab.png) no-repeat;
	text-indent:-9999px;
	margin-right:5px;
}
/*
#signup
{
	display:block;
	height:20px;
	width:60px;
	float:right;
	background:url(../images/signup-tab.png) no-repeat !important;
	text-indent:-9999px;
}
#navigation
{
	height:35px;
	background:url(../images/navigation-bg.png) no-repeat;
}
.home
{
	border:none !Important;
}
#navigation ul
{
	margin:0px;
	padding:0px;
}
#navigation ul li
{
	list-style:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:10px 0 0 15px;
	color:#887272;
	border-left:1px solid #887272;
	height:15px;
}
#navigation ul li a
{
	padding-left:15px;
	color:#887272;
	text-decoration:none;
}
#navigation ul li a:hover
{
	text-decoration:underline;
}*/
#content-section
{
	background:#f3f3f3;
}
.list-action {
	display: none;
}
h2.form-title {
	margin: 0 0 25px;
	    font-size: 2em;
	    line-height: 1.5em;
}
.user-nav
{
	float:right;
	clear:both;
	margin-top:10px;
}
.user-nav a {
	background: #009ada;
	display: inline-block;
	padding: 10px 20px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.user-nav .user-dashboard
{
	margin-right: 10px;
}


#main-content-top {
	background: url(../images/iati-wep/content-top.jpg) no-repeat;
	margin-top:15px;
	height: 4px;
}

#main-content-bottom {
	background: url(../images/iati-wep/content-bottom.jpg) no-repeat;
	height: 4px;
}
#contain-body
{
	background-color: #fff;
	overflow: hidden;
	padding: 8px 0;
}
#contain-left
{
	float:left;
	width: 600px;
	margin-left: 20px;
}

#sidebar-right {
	float: left;
	width: 279px;
	margin-left: 20px;
}

#contain-top
{
	background:url(../images/contain-left-top-bg.png) no-repeat;
	height:9px;
	width:700px;
	margin:0px;
	padding:0px;
}
#contain-bottom
{
	background:url(../images/contain-left-bottom-bg.png) no-repeat;
	height:9px;
	width:700px;
}
#contain-area

}

#contain
{
	margin:0 20px;
	padding-bottom:20px;
}
#contain-right
{
	float:right;	
}
#contain-right-top
{
	background:url(../images/right-contain-top-bg.png) no-repeat;
	height:9px;
	width:220px;
}
#contain-right-bottom
{
	background:url(../images/right-contain-bottom-bg.png) no-repeat;
	height:9px;
	width:220px;
}
#contain-right-area
{
	width:218x;
	border-left:1px solid #b4aaaa;
	border-right:1px solid #b4aaaa;
	background:#FFF;
}
#contain-inner
{
	margin:0 10px 0 10px;
}

/* sidebar */

#sidebar-right .block
{
	background: #f6f6f6;
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

#block-list-menu .action-icon a,
#block-add-menu .action-icon a
{
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	outline: none;
	float: left;
	margin-right: 12px;
}
#block-list-menu .action-icon a
{
	background: url(../images/action-list.png) no-repeat left top;
}
#block-add-menu .action-icon a
{
	background: url(../images/action-add.png) no-repeat left top;
}
#block-list-menu a,
#block-add-menu a
{
	font-weight: bold;
	font-size: 14px;
}

#sidebar-right #block-activity-menu {
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 5px 40px 5px 5px;
}

#sidebar-right #block-activity-menu h2 {
	font-weight: bold;
}

#sidebar-right #block-activity-menu .content li {
	border-bottom: 1px solid #dbd9d9;
	display: block;
}


#block-activity-menu .content li a {
	display:block;
	padding: 6px 0 7px 25px;
	background: url(../images/tick.png) no-repeat 5px top;
	width: 191px;
}


.help {
	overflow: hidden;
	height: 30px;
	background: url(../images/help-text.png) no-repeat left 5px;
	width: 20px;
	float: right;
}

.form-item .help {
	margin-right: 65px;
}

.help img{
	vertical-align: text-bottom;
}

#sidebar-right #block-activity-menu a:hover,
#block-activity-menu .content li.highlight a{
	background-color: #fdf6e6;
	text-decoration: none;
}

#block-activity-menu .content li a.active{
	background-position: 5px -31px;
}
#nav-list ul li
{
	list-style:none;
	list-style-image:none;
	padding-bottom:5px;
	margin-left:10px;
	color:#009ADA;
	font-size:12px;
}
#nav-list ul li a
{
	text-decoration:none;
	color:#009ADA;
}
#nav-list ul li a:hover
{
	text-decoration:underline;
}
#contain table
{
	border:1px solid #F6F6F6;
	width:100%;
}

#contain table.user-list-table {
	border
}

#contain tr, #contain td, #contain th
{
	background-color: #f2f2f2;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	padding:5px 5px;
	line-height:18px;
	text-align:left;
}
#footer-wapper
{
	/*border-bottom:1px solid #B4AAAA;*/
	border-top:1px solid #B4AAAA;
	margin-top:15px;
}
#footer
{
	
}
#footer-area
{
	height:78px;
	width:940px;
	/*background:url(../images/footer-bg.png) no-repeat;
	height:84px;*/	
}
#footer-area h2
{
	margin-top:10px;
	color:#887272;
	font-family:Arial, Helvetica, sans-serif;
}
#footer-inner
{
	margin:0 10px 0 10px;
}
.copy-right
{
	float:left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
}
.power-by
{
	float:right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	margin-top:38px;	
}

/*alert massage*/

.errors
{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/wrong-icon.gif) no-repeat center left;
	color:#FF0000;
	margin-left:100px;
	padding:1px 0 1px 20px;
}
.errors li
{
	margin:5px 0;
}
.form-required
{
	color:#F00;
}

#flash-messages ul {
	margin-bottom: 10px;
}

.message, .info
{
	font-size:12px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/notification.jpg) no-repeat 10px center #f3f3f3;
	color:#000;
	padding-left:40px;
	border-radius: 4px 4px 4px 4px;
	font-style: italic;
}
.message li
{
	padding: 9px;
}
.warning li, .info li
{
	margin: 0;
	padding: 9px;
}

.warning, .info
{
	font-size:12px;
	font-weight:normal;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/warning.png) no-repeat 10px center #f3f3f3;
	color:#000;
	padding-left:40px;
	border-radius: 4px 4px 4px 4px;
	font-style: italic;
}
.warning li, .info li
{
	margin: 0;
	padding: 9px;
}

ul.error
{
	font-size:12px;
	font-weight:normal;
	font-style: italic;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/iati-wep/error.jpg) no-repeat 10px center #f3f3f3;
	color:#000;
	padding-left:40px;
}
.error
{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FF0000;
	
}
.error li
{
	margin:9px 0;
	padding: 9px;
}

fieldset ul.errors {
	margin-left: 170px;
}
/*Login pages*/

label
{
	float:left;
	width:160px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#525252;
	display: block;
	font-weight: bold;
}

#default_fields-element label{
    display: inline;	
}
	

.form-item {
	margin-left: 10px;
}
input.form-text, select.form-select, textarea
{
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #cacaca;
    color: #333333;
    margin-bottom:5px;
    padding: 2px;
    width: 300px;
}
select.form-select {
    background: #FFF url(images/select_arrow.gif) no-repeat right center;
}

.claro .change-password {
	margin-top: 10px;
}

button.form-submit, input.form-submit, a.button, .change-password a, .profile-links, .dashboard-summary a, #Submit{

    /*background: url("images/buttons.png") repeat-x scroll 0 0 transparent;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px;
    color: #5A5A5A;
    cursor: pointer;
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 1.077em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 4px 17px;
    text-align: center;*/
    background-color: #009ADA;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}

#Signup-label, #button-label, #save-label, #submit-label, #Submit-label, #Save-label{
	display: none;
}

.profile-links {
	margin: 10px 15px 0 0;
}

#contain .dashboard-summary {
	padding: 0;
}

.dashboard-summary a {
	margin-right: 15px;
}

.profile-links:hover {
	color: #fff;
	text-decoration: none;
}

#login-element #login, #create_new_account, #email_new_password
{
	float:none;
	height:20px;
	width:auto;
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
}
#login-label, #create_new_account-label, #email_new_password-label, #Submit-label
{
	float:left;
	width:100px;
}
#confirmpassword-label .required
{
	line-height:12px;
}
#lang_id-label
{
	height:1px;
}
#contain #Login
{
	margin-top:30px;
}
#new-user, #forget-password
{
	margin-left:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-bottom:5px;
	color:#887272;
}
#CategoryCode
{
	margin-top:10px;
	width:200px;
}
/*Text Area*/
#Description
{
	margin-top:10px;
}

/*table tr td th class*/

.odd
{
	background:#d7e1c5;
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:12px;
}
.even
{
	background:#dbdbdb;
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:12px;
}
.th-border
{
	background:#66a9bd;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:13px;
}
#add-list
{
	margin-bottom:10px;
}
#add-list a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
}
#view-category
{
	margin-top:10px;
}
#view-category a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;

}
#language
{
	margin-top:5px;
}
#language .action-view
{
	height:15px;
	width:20px;
	background:#91c5d4;
	border:1px solid #9f7f7f;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	display:block;
	float:left;
	margin-right:5px;
	padding:0 0 4px 5px;
}
#language .action-view:hover
{
	background:#66a9bd;
}
#page-title
{
	font-family:Arial, Helvetica, sans-serif;
	color:#887272;
	font-size:12px;
	font-weight:bold;
}

/*coad list*/

#contain p
{
	padding:10px 0;
}
.code-list
{
	/*border:1px solid #000;*/
	overflow:auto;
	/*background:#333333;*/
	margin-bottom:15px;
	font-size:13px;
	color:#333;
}
pre
{
	margin:0px;
	padding:0px;
}
code
{	
	background:#333333;
	font-size:15px;
	color:#FFF;
	padding:0px;
	display:block;
	width:auto;
}
code
{
	background:#333333;
	display:block;
}
.retrieving-list
{

}
.retrieving-list p
{
	font-family:"Courier New", Courier, monospace;
	font-size:13px;
	line-height:25px;
	padding-left:20px;
}
#contain-1 h2
{
	font-size:20px;
	padding:10px 0;
	font-family:Arial, Helvetica, sans-serif;
}
.retrieving-list h2
{
	font-family:"Courier New", Courier, monospace !important;
	font-size:20px;
	padding:10px 0;
}
.tag
{
	color:#dfc484;
}
.atv
{
	color:#8E9C5C;
}
.url
{
	color:#c9783e;
}
.com
{
	color:#999999;
}

.remove{
    display: block;
    color: #009ADA;
    display: block;
    padding-left:10px;
    margin-bottom:10px;
}
.remove .button
{
	background:url(../stylesheet/images/remove-icon.png) no-repeat center left;
    border: none;
    border-radius: 0;
    color: #009ADA;
    display: inline-block;
    font-size: 12px;
    font-weight:bold;
    padding: 5px 0 5px 22px;
    text-decoration: none;
}
.remove-this {
    cursor: pointer;
}

#add-more{
    margin-left: 385px; 
    cursor: pointer;
    color: #009ADA;
}

#form-elements-wrapper div{
    	margin-bottom: 20px;
}

dt{
	clear:both;
    color: #747474;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

dd{
	margin-bottom: 8px;
}

dd#button-element {
	margin-bottom: 0;
}

fieldset{
    margin-bottom: 20px;
    padding: 20px 10px;
    background: #f6f6f6;
}
legend {
	font-size: 13px;
	font-weight: bold;
	color: #336666;
}

/* Activity page fieldset */
.activity-list, .user-list {
	/*margin-bottom: 20px;*/
	border:1px solid #e0dddd;
	overflow:hidden;
}
.inner-wrapper
{
	

}
.nested-items
{
	/*padding:0 10px;*/
	width:568px;

}
.inner-wrapper>.form-title
{
	display:block;
	background:#e0dddd;
	font-family:Arial, Helvetica, sans-serif;
	color:#4f4f4f;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px 0 5px 10px;
	width:588px;
}
.innermost-wrapper>.form-title{
	display:block;
	background:#ebebeb;
	font-family:Arial, Helvetica, sans-serif;
	color:#4f4f4f;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px 0 5px 10px;
	width:568px;
}
.activity-list fieldset, .user-list fieldset {
	background: none;
	padding:0;
	margin: 0;
}

.activity-list fieldset .inner {
	padding:0 10px;
}

.activity-list legend {
	color: #000;
	font-size: 14px;
}
.activity-list fieldset.innermost-wrapper{
    /*padding: 10px;*/
    background: #ebebeb;
    padding:22px 0px 10px 0px;
    margin-bottom:10px;
}
.activity-list .innermost-wrapper legend {
	font-size: 14px;
	font-weight: bold;
	color: #336666;
	margin-top:-15px;
	padding-left:10px;
}

.activity-div{
    margin-bottom: 20px;   
}

.popup{
	display:none;
	
}

/* Activity Info */

.sub_element {
	border-bottom: 1px dotted #c9c9c9;
	/*margin-bottom: 10px;*/
}

#contain table.activity-info-table {
	border: 1px solid #e7e6fb;
	background: #F6F6F6;
	margin-bottom: 12px;
}
#contain table.activity-info-table th {
	padding-right: 15px;
}

#contain table.activity-info-table tr {
	
}

#contain table.activity-info-table td {
	padding: 5px 18px;
	width: 135px;
}

#contain table.activity-info-table td.label {
	color: #747474;
}

#contain .activity-detail-table {
	background: none;
	border: none;
}

#contain .activity-detail-table td {
	padding: 0;
}

#contain .activity-detail-table fieldset {
	background: #F1F1F1;
	border: 1px solid #ebebeb;
}

#contain .activity-detail-table fieldset fieldset {
	background: #f7f7f7;
	border: 1px solid #d2d1d1;
}

.activity-info-wrapper {
	position: relative;
	margin-bottom: 20px;
}
.activity-info-wrapper .override-link {
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
}
.activity-info-wrapper .override-link {
	font-weight: bold;
	background: url(../images/left-arrow.png) no-repeat left center;
	padding-left: 12px;
}
.activity-info-wrapper .title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 5px;
}
table.activity-list-table .title,
table.user-list-table .title{
	width: 210px;
	width: auto !important;
	min-width: 210px;
}
table.activity-list-table .title a {
	font-weight: bold;
	padding-right: 5px;
}
#contain table.activity-list-table,  .user-list{
	margin-bottom: 20px;
	border: 1px solid #dcdcdc;
}

.user-list {
	border-bottom: none;
}

table.activity-list-table .title .title-activity,
table.user-list-table .title .title-activity{
	/*float: left;
	width: 200px;*/
}

table.activity-list-table .title .list-action,
table.user-list-table .title .list-action{
	/*float: right;
	width: 80px;*/
}

table.user-list-table .title .list-action a {
	font-weight: bold;

}

#contain table.user-list-table {
	border-bottom: none !important;
}

table.activity-list-table tr,  .user-list tr{
	background: #f2f2f2;
	border-bottom: 1px solid #dcdcdc;
}
table.activity-list-table tr:hover {
	background: #fefae9;
}

.state-display .label {
	color: #6f6f6f;
	font-size: 12px;
}

.state-display .label span {
	font-weight: normal;
}

#contain table.activity-list-table .editing,
.state-display .editing{
	color: #446030;
}

#contain table.activity-list-table .checked,
.state-display .checked{
	color: #009ADA;
}

#contain table.activity-list-table .to-be-checked,
.state-display .to_be_checked{
	color: #0b8053;
}

#contain table.activity-list-table .published,
.state-display .published{
	color: #6d6d6d;
}



/* View Activity */

.activity-state {
	position: relative;
}
.activity-state .override-link {
	background: url("../images/left-arrow.png") no-repeat scroll left center transparent;
	font-weight: bold;
	padding-left: 12px;
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
}
.activity-state dt {
	margin: 10px 0 0 0;
}
.activity-state #change_state-element {
	margin-top: 10px;
}
.activity-state .state-display {
	font-size: 14px;
}
.activity-state .state-display label {
	margin-right: 20px;
}
.activity-detail-table .title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 5px;
}

#iati_activity_status {
	overflow: hidden;
}

#iati_activity_status label {
	line-height: 22px;
	width: auto;
}

.addmore {
	background:#eeeeee;
	display: block;
	margin-bottom:10px;
	padding-left:10px;
}

.addmore .button
{
	background:url(../stylesheet/images/add-icon.png) no-repeat center left;
    border: none;
    border-radius: 0;
    color: #009ADA;
    display: inline-block;
    font-size: 12px;
    font-weight:bold;
    padding: 5px 0 5px 22px;
    text-decoration: none;
}

.addmore .button span,
.remove .button span{
	font-size: 16px;
}

#element-form #Submit {
	margin-top: 10px;
	margin-right: 8px;
}

/** Breadcrumb **/
#breadcrumb{
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 10px;
}

#breadcrumb a {
	font-weight: bold;
}

/*#contain .title {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0 10px;
}*/

/** Dashboard page **/
.dashboard-content .publish-item {
    background-color: #F2F2F2;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    padding: 5px 10px;
    margin-top: 10px;
}

.dashboard-content .publish-item .publis-item-title {
	font-weight:bold;
}


/** admin list org page **/
table#list-org {
	border: 1px solid #DCDCDC;
    width: 100%;
}

#list-org tr {
	background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #DCDCDC;
}

.activity-detail-table table {
	border: none !important;
	border-top: 5px solid #feefd8 !important;
	margin-bottom: 12px;
}

.activity-detail-table tr td{
	background-color: #fff !important;
}

.activity-detail-table tr.element-value-even td{
	background-color: #eaeaea !important;
}

.activity-detail-table tr.element-value-odd td{
	background-color: #f7f7f7 !important;
}

.activity-detail-table table tr td {
	background-color: none !important;
	color: #747474 !important;
	padding: 5px 18px !important;
}

.activity-detail-table table tr td.attrib-label {
	width: 30% !important;
	font-weight: bold;
}

.activity-detail-table table tr td.attrib-value {
	width: 70% !important;
}

.activity-detail-table .element-title,
#contain .element-title{
	font-size: 13px;
    font-weight: bold;
    padding: 0 0 5px;
}

#iati_activity_change_status #status-label,
#iati_activity_change_status #ids-label,
#iati_activity_change_status #change_state-label,
#iati_activity_status #status-label,
#iati_activity_status #ids-label,
#iati_activity_status #change-label{
	display: none;
}

.clearfix {
	clear: both;
}

.edit-element {
	padding-left: 8px;
	vertical-align: middle;
}

/** view activity link **/
.viewer-link{
	float:right;
	font-size:12px;
	padding-right:5px;
}

#activity-edit-form {
	clear: both;
}

#publishing_info-label, #registry_info-label, #publishing_type-element br {
	display: none;
}
/**************Start Footer section****************/
#footer
{
	background:#d3d3d3;
	padding-bottom:40px;
}
#footer .footer-title
{
	color:#4b4b4b;
	font-size:26px;
	font-weight:normal;
	margin:40px 0 15px;
}
/**************Close Footer section****************/
