@charset "utf-8";
/* CSS Document */
*
{
	margin: 0;
	padding: 0;
}

body {
	font-size: 13px;
	font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	line-height: 19px;
	padding: 0;
	margin: 0;
	background-color:#D3D3D3;
}

body#aidstream-homepage
{
	font-size: 16px;
	line-height: 30px;
	padding: 0;
}

body#activity-viewer-body {
	background-color: #f3f3f3;
}

textarea, input, select, button
{
	font-family:Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	font-size: 13px;
}

input[type="radio"]
{
	margin-right:2px;
}

h1
{
	color:#000;
	font-size:16px;
	padding:5px 0;
}

h2
{
	line-height: 35px;
}

h3{
    margin-top: 0px;	
}
	
a
{
	color:#009ada;
	outline: none;
	text-decoration:none;
}

a:hover
{
	background:#009ADA;
	color: #fff;
}

p
{
	margin-bottom: 10px;
}

#wrapper
{
	margin:0px;
	padding:0px;
	
}

.container-wrapper {
	position: relative;
}


table {
	border-collapse: collapse;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

#header
{
	background:#FFFFFF;
	/*position:fixed;
	margin:0;
	padding:0;
	width:100%;*/
}
.logo
{
	float:left;
	padding:22px 0;
	width:300px;
}

.nav
{
	float:right;
	margin-right: 30px;
}

.user-info
{
	float:right;
	margin:0 100px 15px 0;
	width:450px;
}

.nav ul li
{
	float:right;
	margin-left:10px;
	line-height:18px;
}

.nav ul li a
{	
	display:block;
	padding:27px 13px;
	outline:none;
}

.nav ul li a:hover
{
	-moz-transition: background-color 0.3s ease-in 0s;
	background:#edfbde;
}

.nav ul li a.active
{
	-moz-transition: background-color 0.5s ease-in 0s;
	background:#d5e0e4;
}

.nav ul li a span.title
{
	font-size:22px;
	color:#000;
}

.nav ul li a
{
	text-decoration:none;
}

.nav ul li a span
{
	font-size:11px;
	color:#747474;
}

#logo-nav .support
{
	color:#e8f8d7;
	font-size:14px;
	float:right;
	padding:10px 25px 31px 25px;
}

.login-section
{
	background:#d5e0e4;
	-webkit-box-shadow: 0px 4px 5px 0px #969696;
	-moz-box-shadow: 0px 4px 5px 0px #969696;
	box-shadow: 0px 4px 5px 0px #969696; 
	padding-bottom:4px;
}

#login-form-section
{
	float:right;
	padding:5px 0;
	position:relative;
}

#login-form-section table
{
	margin:3px 0 10px;
}

#login-form-section tr, #login-form-section tr td
{
	vertical-align:top;
}

#login-form-section input
{
	border:1px solid #a5b1b6;
	font-size:12px;
	margin: 0 15px 0 0;
	padding:5px 4px;
	width:195px;
}

#login-form-section label
{
	float: left;
	font-size:12px;
	font-weight:bold;
	color:#575a5b;
	width: auto;
}

.forgot-password
{
	font-size:11px;
}

#login-form-section #login
{
	border:none;
	cursor:pointer;
	font-weight:bold;
	height:29px;
	margin-top:-2px;
	padding: 0;
	width:95px;
}

#login-form-container
{
}

#login-form-container #user-login
{
	height: 0px;
	overflow: hidden;
	line-height:30px
}

a.login-parent
{
	background-color:#d5e0e4;
	background-position:-131px -3008px;
	border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 4px 3px 0px #969696;
	-moz-box-shadow: 0px 4px 3px 0px #969696;
	box-shadow: 0px 4px 3px 0px #969696; 
	color:#575a5b;
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	margin-top:5px;
	padding:4px 0 6px 35px;
	position:absolute;
	left:380px;
	text-decoration:none;
	width: 125px;
	z-index:10;
	
}

#login-form-section .active
{
	background-position: -131px -3041px;
}

/** Homepage Sprite **/
.login-section #registration-section a, a.login-parent, .about-content, .how-content, .registration, .data-entry, .publish, .contact-content, #contact-us #send
{
	background-image:url(images/homepage-sprite.png);
	background-repeat:no-repeat;
}

/** Register form **/
.login-section #registration-section
{
	font-size: 18px;
	height: 0;
	overflow: hidden;
}

.login-section #registration-section .register-info
{
	width: 100%;
	padding-top: 32px;
}

.login-section #registration-section .register-text
{
	float: left;
	line-height: 33px;
	padding: 0 15px 0 5px;
}

.login-section #registration-section a
{
	background-position:0 -3012px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 111px;
}

.login-section #registration-section a:hover
{
	background-position:0 -3054PX;
}

/***Close header section***/

/***********Start index page style************/
#content
{
	background: #ededed;
}
.page-title
{
	color:#202020;
	font-size:38px;
	font-weight:normal;
	/*margin:145px 0 35px 0;*/
	margin:72px 0 20px 0;
}
.page-title .aid
{
	color:#5b5b5b;
}
.page-title .stream
{
	color:#008cff;
}

/** ---- Homepage ---**/
#aidstream-homepage #content-section, #aidstream-homepage #content 
{
	background: f3f3f3;
}




/**********start what is aidstream?************/
#what-as
{
	padding-bottom: 65px;
	width:100%;
}

.about-content {
	background-position:455px 23px;
	padding-bottom: 80px;
}

p.pragraph-first,
{
	font-size:18px;
	font-family:Amaranth,aril,verdana, Geneva, sans-serif;
	color:#202020;
	margin-bottom:40px;
	line-height:30px;
}
p.paragraph-second
{
	font-size:12px;
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
}

.paragraph-title
{

	font-size:24px;
	color:#202020;
	line-height:30px;
}

p.paragraph-about {
	margin-bottom: 20px;
}
/**********close what is aidstream?************/

/**********start how to use aidstream?************/
#how-as
{
	padding-bottom: 30px
	width:100%;
}

.how-content {
	background-position:455px -677px;
}

.registration
{
	background-position:0 -2353px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 15px 5px 80px;
	line-height:30px;
	margin-bottom:20px;
	width:400px;
}

.registration span, .data-entry span, .publish span
{
	font-size:18px;
}

.data-entry
{
	background-position:0 -2549px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 15px 5px 80px;
	line-height:30px;
	margin-bottom:20px;
	width:400px;
}

.publish
{
	background-position:0 -2735px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 15px 5px 80px;
	line-height:30px;
	margin-bottom:20px;
	width:400px;
	min-height: 70px;
	height: auto;
	height: 70px;
}

/**********close how to use aidstream?************/

/**********start who is IATI************/
#behind-aidstream .who-content {
	background: url('images/iati-who.png') no-repeat right 230px;
}
/**********close who is IATI************/
/**********start Contact us************/
#contact-us
{

	padding-bottom: 80px;
	width:100%
}

.contact-content {
	background-position:600px -1500px;
}

#contact-us input
{
	background:#cddadc;
	border:none;
	border-radius:4px 4px 4px 4px;
	padding:10px 5px;
	width:380px;
}

#contact-us #send
{
	background-position:0 -2941px;
	cursor: pointer;
	width: 160px;
	height: 45px;
	font-size: 0;
}

#contact-us #send:hover
{
	background-position: -185px -2941px;
}

#contact-us textarea
{
	background:#cddadc;
	border:none;
	border-radius:4px 4px 4px 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:10px 5px;
	width:380px;
}
#contact-us label
{
	font-size:16px;
	padding-right:15px;
	width:80px;
}
#contact-us td
{
	font-size:12px;
	margin-bottom:10px;
	vertical-align: top;
}
#contact-us .note td
{
	padding-bottom:20px;
}




#contact-us input#send-bottom
{
	padding-bottom:24px;
	text-indent:-9999px;
	cursor:pointer;
	outline:none;
	width:160px;
}
/**********close Contact us************/
/************Close index page style**************/
#navigation-wrapper {
	border: none;
}

#login-nav
{
	color: #979797;
	float:right;
	margin-top:5px;
}

#content-section
{
	background:#f3f3f3;
}

.login-layout #content-section
{
	margin-top: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.login-layout #content-section {margin-top: 0; padding-top:100px;}
}

.list-action {
	display: none;
}
h2.form-title {
	margin: 0 0 25px;
	    font-size: 2em;
	    line-height: 1.5em;
}
.user-nav
{
	float:right;
	clear:both;
	margin-top:10px;
}
.user-nav a {
	background: #009ada;
	display: inline-block;
	padding: 5px 20px;
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.user-nav a:hover
{
	background:#037bac;
}

.user-nav .user-change-defaults
{
	margin-left:10px;
}


#main-content-top {
	background: #fff;
	border-radius:4px 4px 0 0;
	margin-top:15px;
	height: 4px;
}

#contain-body
{
	background-color: #fff;
	overflow: hidden;
	padding: 8px 0;
}
#contain-left
{
	float:left;
	width: 600px;
	margin-left: 20px;
}

#sidebar-right {
	float: left;
	width: 279px;
	margin-left: 20px;
}

#contain-right
{
	float:right;	
}

#contain-right-area
{
	width:218x;
	border-left:1px solid #b4aaaa;
	border-right:1px solid #b4aaaa;
	background:#FFF;
}
#contain-inner
{
	margin:0 10px 0 10px;
}

/* sidebar */

#sidebar-right .block
{
	background: #f6f6f6;
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

#sidebar-right .block:hover
{
	border-color:#8BBCF8;
	-webkit-box-shadow: 0px 0px 5px 2px #ccc;
	-moz-box-shadow: 0px 0px 5px 2px #ccc;
	box-shadow: 0px 0px 5px 2px #ccc; 
}

#block-list-menu .action-icon a,
#block-add-menu .action-icon a,
#block-list-published-files .action-icon a,
#block-list-help .action-icon a
{
	display: block;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	outline: none;
	float: left;
	margin-right: 12px;
}

#block-list-menu a,
#block-add-menu a,
#block-list-published-files a,
#block-list-menu a,
#block-list-help a{
	font-weight: bold;
	font-size: 14px;
}

#sidebar-right #block-activity-menu 
{
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 5px 40px 5px 5px;
}

#sidebar-right #block-activity-menu h2 
{
	font-size:18px;
	font-weight: bold;
	line-height: 25px;
	margin-bottom: 8px;
}

#sidebar-right #block-activity-menu ul li
{
	border: 1px solid #e9e9e9;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-weight:bold;
	padding: 5px;
	margin-bottom: 5px;
}

#sidebar-right #block-activity-menu ul li:hover
{

	-webkit-box-shadow: 0px 0px 5px 2px #ccc;
	-moz-box-shadow: 0px 0px 5px 2px #ccc;
	box-shadow: 0px 0px 5px 2px #ccc; 
}

#sidebar-right #block-activity-menu:hover, #sidebar-right #block-activity-menu ul.menu-leaf li:hover
{
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}

#sidebar-right #block-activity-menu ul.menu-leaf li
{
	border:none;
	border-bottom: 1px solid #dbd9d9;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	font-weight:normal;
	padding: 0;
	margin-bottom: 0;
}

#sidebar-right #block-activity-menu ul.menu-leaf li:last-child
{
	border-bottom-color:#fff;
}

#sidebar-right #block-activity-menu ul.menu-leaf li:hover
{
	border-bottom:1px solid #8bbcf8;
}

#sidebar-right #block-activity-menu .content li 
{
	display: block;
}


#block-activity-menu .content li a 
{
	display:block;
	padding: 6px 0 7px 25px;
}


.help 
{
	overflow: hidden;
	height: 19px;
	background: url(../images/help-text.png) no-repeat left 9px;
	width: 20px;
	float: right;
	cursor: pointer;
}

.help:hover
{
	background-position:0 -35px;
	cursor: help;
}

.form-element .help
{
	background-position:0 2px;
}

.form-element .help:hover
{
	background-position:0 -42px;
}

.legend-help
{
	height:25px;
}

.form-item .help 
{
	background-position:0 3px;
	margin-right: 12px;
}

.form-item .help:hover
{
	background-position:0 -41px;
} 

.help img
{
	vertical-align: text-bottom;
}

.dijitTooltipDialog
{
        outline:none;
}

#block-activity-menu .help
{
	height:31px;
}

#block-activity-menu ul.menu-leaf li:hover
{
	background-color:#def3fc;
}

#sidebar-right #block-activity-menu a:hover,
#block-activity-menu .content li.highlight a
{
	background-color: #def3fc;
	color: #009ADA;
	text-decoration: none;
}

#nav-list ul li
{
	list-style:none;
	list-style-image:none;
	padding-bottom:5px;
	margin-left:10px;
	color:#009ADA;
	font-size:12px;
}

#nav-list ul li a
{
	text-decoration:none;
	color:#009ADA;
}

#nav-list ul li a:hover
{
	text-decoration:underline;
}

#contain table
{
	width:100%;
}

#contain table.user-list-table {
	border
}

#contain tr, #contain td, #contain th
{
	background-color: #f2f2f2;
	padding:5px 5px;
	line-height:18px;
	text-align:left;
}

#footer-wapper
{
	/*border-bottom:1px solid #B4AAAA;*/
	border-top:1px solid #B4AAAA;
	margin-top:15px;
}

#footer
{	
}

#footer-area
{
	height:78px;
	width:940px;	
}

#footer-area h2
{
	margin-top:10px;
	color:#887272;
}

#footer .footer-images ul li {
	display: inline;
	margin-right:10px;
}

#footer-inner
{
	margin:0 10px 0 10px;
}
.copy-right
{
	float:left;
	font-size:12px;
	color:#887272;
}
.power-by
{
	float:right;
	font-size:12px;
	color:#887272;
	margin-top:38px;	
}



/*Login pages*/

label
{
	float:left;
	width:210px;
	color:#525252;
	display: block;
	font-weight: normal;
}

dt#update_registry-label label
{
	width:auto;
}

#publishing_type-element label,
#update_registry-element label {
	width: auto;
	margin-right: 10px;
}

#update_registry-element br {
	display: none;
}

#default_fields-element label{
    display: inline;	
}
	

.form-item {
	margin-left: 10px;
}
.form-element, .form-item {
	margin: 0 10px 5px;
}

.form-element:hover, .form-item:hover, .form-item:hover label
{
	background-color:#ecf6fc;
	color: #000;
}

.ele-submit-buttons.form-item:hover {
	background-color: transparent;
}

input.form-text, select.form-select, textarea
{
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #cacaca;
    color: #333333;
    padding: 2px;
    width: 300px;
}

select.form-select {
    width: 306px;
}

option
{
	padding: 0 5px;
}

input[type="checkbox"]
{
	margin: 0 5px;
}

.claro .change-password {
	margin-top: 10px;
}

button.form-submit, input.form-submit, a.button, .profile-links, .dashboard-summary a, #Submit, #create_new_account, #reset_password, #login, #save, #save_and_view{
    background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,119,169,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,119,169,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,119,169,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,119,169,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,119,169,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,119,169,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0077a9',GradientType=0 ); /* IE6-9 */

    border: 1px solid #0186be;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
}

button.form-submit:hover, input.form-submit:hover, a.button:hover, .profile-links:hover, .dashboard-summary a:hover, #Submit:hover, #create_new_account:hover, #reset_password:hover, #login:hover, #save:hover, #save_and_view:hover
{
	background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(0,107,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(100%,rgba(0,107,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,107,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,107,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,107,201,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(0,107,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#006bc9',GradientType=0 ); /* IE6-9 */

}

button.form-submit:active, input.form-submit:active, a.button:active, .change-password a:active, .profile-links:active, .dashboard-summary a:active, #Submit:active, #create_new_account:active, #reset_password:active, #login:active, .change-password a:active, #save:active, #save_and_view:active 
{
	background: rgb(115,160,214); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(115,160,214,1) 0%, rgba(0,110,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(115,160,214,1)), color-stop(100%,rgba(0,110,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(115,160,214,1) 0%,rgba(0,110,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(115,160,214,1) 0%,rgba(0,110,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(115,160,214,1) 0%,rgba(0,110,183,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(115,160,214,1) 0%,rgba(0,110,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73a0d6', endColorstr='#006eb7',GradientType=0 ); /* IE6-9 */
}

button.form-submit[disabled=disabled] {
	background:#ccc;
	border:none;
	cursor:default;
}

.ele-submit-buttons.clearfix {
	clear:none;
	float:left;
}

dt#save_and_view-label {
	display:none;
}

#oldpassword-element p.description 
{
	margin-left:220px;
	padding: 5px 0;
}

#Submit_and_view
{
	margin-right: 8px;
}

#element-form .disabled
{
	background-color: #E0DDDD !important;
}

#element-form .disabled:hover
{
	color: #fff;
	cursor: default;
}

#Signup-label, #button-label, #save-label, #submit-label, #Submit-label, #Save-label{
	display: none;
}

.profile-links {
	margin: 10px 15px 0 0;
}

#contain .dashboard-summary {
	padding: 0;
}

.dashboard-summary a {
	margin-right: 15px;
}

.profile-links:hover {
	color: #fff;
	text-decoration: none;
}

#email_new_password
{
	float:none;
	height:20px;
	width:auto;
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
}
#email_new_password-label, #Submit-label
{
	float:left;
	width:100px;
}
#confirmpassword-label .required
{
	line-height:12px;
}
#lang_id-label
{
	height:1px;
}
#contain #Login
{
	margin-top:30px;
}
#new-user, #forget-password
{
	margin-left:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-bottom:5px;
	color:#887272;
}
#CategoryCode
{
	margin-top:10px;
	width:200px;
}
/*Text Area*/
#Description
{
	margin-top:10px;
}

/*table tr td th class*/

.odd
{
	background:#d7e1c5;
	font-size:10px;
	text-align:center;
	line-height:12px;
}
.even
{
	background:#dbdbdb;
	font-size:10px;
	text-align:center;
	line-height:12px;
}
.th-border
{
	background:#66a9bd;
	font-size:12px;
	text-align:center;
	line-height:13px;
}
#add-list
{
	margin-bottom:10px;
}
#add-list a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
}
#view-category
{
	margin-top:10px;
}
#view-category a
{
	background:#c9c9c9;
	border:1px solid #9f7f7f;
	padding:2px 10px;
	color:#FFF;
	font-size:12px;
	text-decoration:none;

}
#language
{
	margin-top:5px;
}
#language .action-view
{
	height:15px;
	width:20px;
	background:#91c5d4;
	border:1px solid #9f7f7f;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	display:block;
	float:left;
	margin-right:5px;
	padding:0 0 4px 5px;
}
#language .action-view:hover
{
	background:#66a9bd;
}
#page-title
{
	color:#887272;
	font-size:12px;
	font-weight:bold;
}

/*coad list*/

#contain p
{
	padding:10px 0;
}

#contain p.description
{
	color: #696969;
	font-style:italic;
}

#contain .form-item:hover p.description
{
	color:#525252;
}

.code-list
{
	/*border:1px solid #000;*/
	overflow:auto;
	/*background:#333333;*/
	margin-bottom:15px;
	font-size:13px;
	color:#333;
}
pre
{
	margin:0px;
	padding:0px;
}
code
{	
	background:#333333;
	font-size:15px;
	color:#FFF;
	padding:0px;
	display:block;
	width:auto;
}
code
{
	background:#333333;
	display:block;
}
.retrieving-list
{

}
.retrieving-list p
{
	font-family:"Courier New", Courier, monospace;
	font-size:13px;
	line-height:25px;
	padding-left:20px;
}
#contain-1 h2
{
	font-size:20px;
	padding:10px 0;
}
.retrieving-list h2
{
	font-family:"Courier New", Courier, monospace !important;
	font-size:20px;
	padding:10px 0;
}
.tag
{
	color:#dfc484;
}
.atv
{
	color:#8E9C5C;
}
.url
{
	color:#c9783e;
}
.com
{
	color:#999999;
}

.remove, .simplified-remove-element{
    display: block;
    color: #009ADA;
    display: block;
    padding-left:10px;
    margin-bottom:10px;
}

.remove .button, .simplified-remove-element a.button
{
    border: none;
    border-radius: 0;
    color: #009ADA;
    display: inline-block;
    font-size: 12px;
    padding: 5px 0 5px 22px;
    text-decoration: none;
}

.remove .remove-element {
	display: block;
}

fieldset.remove-highlight , .remove-highlight
{
	outline:1px dashed #F7675C;
	border-radius:4px;
}

#add-more{
    margin-left: 385px; 
    cursor: pointer;
    color: #009ADA;
}

.addmore:hover
{
	background-color:#dfdfdf;
}

#form-elements-wrapper div{
    	margin-bottom: 20px;
}

dt{
	clear:both;
    color: #747474;
    font-weight: bold;
    float: left; 
    margin-right: 10px;
}

dt#edituserform-label {
	display: none;
}

dd{
}

dd#button-element {
	margin: 10px;
}

/**fieldset{
    margin-bottom: 20px;
    padding: 20px 10px;
    background: #f6f6f6;
}
legend {
	font-size: 13px;
	font-weight: bold;
	color: #336666;
}**/

/** new default fieldset css **/
fieldset{
    padding: 0 0 8px;
    background: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	fieldset {
		padding-top: 8px;
	}
}

legend {
   background: none repeat scroll 0 0 #E0DDDD;
    color: #4F4F4F;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top:5px;
    margin:0 0 10px 0 \0/;
    padding: 5px 0 5px 10px;
    width:590px;
}

fieldset:hover legend
{
	background-color:#bbbbbb;
}

fieldset dl
{
	overflow: hidden;
	margin: 0 10px;
}

/** register hint **/
.hint
{
	padding: 0 0 10px 10px;
}

/** fix legend bug for chrome **/
}

/* Activity page fieldset */
.activity-list, .user-list {
	/*margin-bottom: 20px;*/
	border:1px solid #e0dddd;
	overflow:hidden;
	padding:0;
}

.activity-list
{
	border:none;
}

.default-activity-list {
	margin-bottom: 20px;
	border:1px solid #e0dddd;
	overflow:hidden;
	padding:0;
}

.default-activity-list{
	position: relative;
}

.default-activity-list .legend-help {
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 10;
}

.inner-wrapper
{
	

}
.nested-items
{
}

.activity-list fieldset.innermost-wrapper, .element-wrapper .form-wrapper .element-wrapper{
    /*padding: 10px;*/
    background: #f4f4f4;
    border-bottom:1px solid #d1d1d1;
    margin:2px 0;
}

.activity-list fieldset.innermost-wrapper:hover, .element-wrapper .form-wrapper .element-wrapper:hover
{
	border-bottom:1px solid #93d1fd;
}

.activity-list fieldset.innermost-wrapper.top-element
{
	background:#ffffff;
	margin:0;
}

.innermost-wrapper .form-title, .element-wrapper .first-child legend {
	display:block;
	background:#ebebeb;
	color:#336666;
	font-size:14px;
	font-weight:bold;
	/*margin-bottom:10px;*/
	padding:5px 0 5px 10px;
}

.element-wrapper .first-child .second-child legend {
	background:none;
	color:#000;
	font-size:13px;
	width:570px;
}

.element-wrapper .first-child .second-child {
	background: #F4F4F4;
}



.top-element>.form-title
{
	display:block;
	background:#e0dddd;
	color:#4f4f4f;
	font-size:16px;
	font-weight:bold;
	padding:5px 0 5px 10px;
}

.activity-list fieldset, .user-list fieldset {
	background: none;
	padding:0;
	margin: 0;
}

fieldset.innermost + fieldset, fieldset.inner + fieldset
{
	border-top:1px dashed #c0c0c0;
	padding-top: 8px;
}

.activity-list legend {
	color: #000;
	font-size: 14px;
}

.activity-list .innermost-wrapper legend {
	/*font-size: 14px;
	font-weight: bold;
	color: #336666;
	margin-top:-15px;
	padding-left:10px;*/
}

.check-uncheck 
{
	background: rgb(132,190,69); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(132,190,69,1) 0%, rgba(110,164,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,190,69,1)), color-stop(100%,rgba(110,164,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(132,190,69,1) 0%,rgba(110,164,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(132,190,69,1) 0%,rgba(110,164,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(132,190,69,1) 0%,rgba(110,164,51,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(132,190,69,1) 0%,rgba(110,164,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84be45', endColorstr='#6ea433',GradientType=0 ); /* IE6-9 */
	border:1px solid #72a739;
	border-radius:4px;
	cursor: pointer;
	color: #fff;
	padding:5px 10px;
}

.check-uncheck:hover
{
	background: rgb(135,183,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(135,183,67,1) 0%, rgba(110,164,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,183,67,1)), color-stop(100%,rgba(110,164,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(135,183,67,1) 0%,rgba(110,164,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(135,183,67,1) 0%,rgba(110,164,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(135,183,67,1) 0%,rgba(110,164,51,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(135,183,67,1) 0%,rgba(110,164,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b743', endColorstr='#6ea433',GradientType=0 ); /* IE6-9 */

}

.group-wrapper 
{
	float: left;
	margin: 10px;
	width:175px;
}

.recommended 
{
	color: #437c15;
	font-weight:bold;
}

.recommended-message
{
	background-color:#e6e7e6;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-style:italic;
	margin: 0 10px;
	padding: 5px;
}

.group-title
{
	font-weight:bold;
}

.activity-div{
    margin-bottom: 20px;   
}

.recommended

.popup{
	display:none;
	
}

/* Activity Info */

#contain table.activity-info-table {
	border: none;
	background: #F6F6F6;
	margin-bottom: 0;
}
#contain table.activity-info-table th {
	padding-right: 15px;
	width: 35%;
}

#contain table.activity-info-table tr {
	
}

#contain table.activity-info-table td, #contain table.activity-detail-table td {
	/*padding: 5px 18px;*/
	width: 135px;
}

#contain table.activity-info-table td.label {
	color: #747474;
}

#contain .activity-detail-table {
	background: none;
	border: none;
}

#contain .activity-detail-table td {
	padding: 0;
}

#contain .activity-detail-table fieldset {
	background: #F1F1F1;
	border: 1px solid #ebebeb;
}

#contain .activity-detail-table fieldset fieldset {
	background: #f7f7f7;
	border: 1px solid #d2d1d1;
}

.activity-info-wrapper {
	position: relative;
	margin-bottom: 20px;
}
.activity-info-wrapper .override-link {
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
}
.activity-info-wrapper .override-link {
	font-weight: bold;
	background: url(../images/left-arrow.png) no-repeat left center;
	padding-left: 12px;
}
.activity-info-wrapper .title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 5px;
}

table.activity-list-table .title,
table.user-list-table .title{
	width: 210px;
	width: auto !important;
	min-width: 210px;
}

table.activity-list-table .title a 
{
	font-size:12px;
	padding-right: 5px;
}

#contain table.activity-list-table,  .user-list{
	margin-bottom: 20px;
	border: 1px solid #dcdcdc;
}

.user-list {
	border-bottom: none;
}

table.activity-list-table .title .title-activity,
table.user-list-table .title .title-activity
	/*float: left;
	width: 200px;*/
}

table.activity-list-table .title .list-action,
table.user-list-table .title .list-action{
	/*float: right;
	width: 80px;*/
}

table.user-list-table .title .list-action a {
	font-size:12px;
}

#contain table.user-list-table {
	border-bottom: none !important;
}

table.activity-list-table tr,  .user-list tr{
	background: #f2f2f2;
	border-bottom: 1px solid #dcdcdc;
}
table.activity-list-table tr:hover {
	background: #fefae9;
}

.state-display .label {
	color: #6f6f6f;
	font-size: 12px;
}

.state-display .label span {
	font-weight: normal;
}

#contain table.activity-list-table .edit,
.state-display .edit{
	color: #446030;
}

#contain table.activity-list-table .verified,
.state-display .verified{

	color: #009ADA;
}

#contain table.activity-list-table .completed,
.state-display .completed{
	color: #0b8053;
}

#contain table.activity-list-table .published,
.state-display .published{
	color: #6d6d6d;
}

table.activity-list-table.published-files-list-table .registered-info{
        width: 100px;
}

/* View Activity */

.activity-state {
	position: relative;
}
.activity-state .override-link {
	background-position: 0 -181px;
	font-weight: bold;
	padding-left: 12px;
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
}

.activity-state .override-link {
	display: none;
}

.activity-state dt {
	margin: 10px 0 0 0;
}

.activity-state .state-display {
	font-size: 14px;
	margin-bottom: 4px;
    overflow: hidden;
}
.activity-state .state-display ul {
	background: url(../images/change-state.png) no-repeat 0 0;
	overflow: hidden;
}

.activity-state .state-display ul.state-1 {
	background-position: 0 -40px;

}

.activity-state .state-display ul.state-2{
	background-position: 0 -80px;
}
li#current-state span{
	color: #565656;
	font-weight: bold;
}
.activity-state .state-display ul.state-3{
	background-position: 0 -120px;

}
.activity-state .state-display ul.state-4{
	background-position: 0 -160px;

}

.activity-state .state-display ul li {
	float: left;
	width: 120px;
	line-height: 39px;
	color: #cbcaca;
	font-size: 12px;
}

.activity-state .state-display ul li:first-child {
	font-weight: bold;
	color: #8d8d8d;
	text-align: center;
}

.change-state-help a{
	color: #949494;
	text-decoration: underline;
}

.state-help-title {
	background: url(../images/notification.png) no-repeat scroll 0 0 transparent;
    color: #272727;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 6px;
	margin-bottom: 12px;
    padding-left: 38px;
	border-bottom: 1px solid #e6e7e7;
}

.state-help-body p {
	font-size: 13px;
	color: #272727;
}

.state-help-body p.activity {
	padding-bottom: 50px;
}

.state-help-body ul.states-list {	
	background: #f2f3f4;
	overflow: hidden;
	padding: 0 56px;
	margin-bottom: 14px;
}

.state-help-body ul.states-list li {
	float: left;
	line-height: 32px;
	padding: 0 32px;

	font-size: 13px;
	color: #272727;
}

.change-state-help a:hover{
	color: #FFF;
}

.activity-state .state-display ul li span.visited-state ,.activity-state .state-display ul li span.not-visited-state{
	background: url(../images/tick.png) no-repeat 20px 14px;
	display: block;
	padding-left: 42px;

}

.activity-state .state-display ul li span.not-visited-state {
	background: url(../images/cross.png) no-repeat 20px 14px;
;
}

.activity-state .change-state {
	clear: both;	
	overflow: hidden;
	background: #f3f4f4;
	margin-bottom: 10px;
	padding: 4px 8px 4px 16px;
}

.activity-state .change-state .change-state-info-section {
	float: left;
}

.change-state-info-section form {
	display: inline-block;	
}

.change-state input[type='submit'] {
	padding: 4px 8px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.activity-state .change-state .change-state-help-section {
	float: right;
}

.change-state-info-section .change-state-current-state {
	font-style: italic;
	font-weight: bold;
	color: #606060;
}

.activity-detail-table .title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 5px;
}

#iati_activity_status {
	overflow: hidden;
}

#iati_activity_status label {
	line-height: 22px;
	width: auto;
}
.innermost-wrapper.top-element .addmore
{
}
.innermost-wrapper .addmore
{
}
.addmore, .add-element, .simplified-add-more{
	background:#eeeeee;
	display: block;
	padding-left:10px;
}

.addmore .button, .add-element .button, .simplified-add-more .button
{
	background-color:transparent;
    border: none;
    border-radius: 0;
    color: #009ADA;
    display: block;
    font-size: 12px;
    padding: 5px 0 5px 22px;
    text-decoration: none;
}

.simplified-add-more {
	border: 1px solid #e1e1e1;
}

.addmore .button span,
.remove .button span{
	font-size: 16px;
}

#element-form #Submit, #save, #save_and_view ,  #update-reporting-org {
	margin-top: 10px;
	margin-right: 8px;
}

.ele-submit-buttons {
	margin:0;
}

/** Breadcrumb **/
#breadcrumb{
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
#breadcrumb
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
}
#breadcrumb a {
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

/*#contain .title {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0 10px;
}*/

/** Dashboard page **/
.dashboard-content .publish-item {
    /*background-color: #F2F2F2;*/
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    /*padding: 5px 10px;*/
    margin-top: 10px;
}

.dashboard-content .publish-item .publis-item-title {
	font-size: 16px;
	font-weight:bold;
	margin-bottom: 8px;
}


/** admin list org page **/
table#list-org {
	border: 1px solid #DCDCDC;
    width: 100%;
}

#list-org tr {
	background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #DCDCDC;
}

.activity-detail-table table {
	/*border: none !important;*/
	/*border-top: 5px solid #feefd8 !important;*/
	margin-bottom: 0;
	width: 100%;
}


#contain table.element-values-items + table.element-values-items
{
	margin-top:4px;
}

.activity-detail-table tr td{
	background-color: #fff !important;
}

.activity-detail-table tr.element-value-even td{
	background-color: #eaeaea !important;
}

.activity-detail-table tr.element-value-odd td{
	background-color: #f7f7f7 !important;
}

.activity-detail-table table tr td, table.add-activity tr td {
	background-color: none !important;
	color: #4A4A4A !important;
	padding: 3px 7px !important;
}

.activity-detail-table table tr td.attrib-label,  .activity-detail-table tr td.attrib-label{
	width: 40% !important;
	padding: 3px 10px!important;
}

.activity-detail-table table tr td.attrib-value {
	width: 70% !important;
}

.activity-detail-table table.element-values-items td {
	padding: 3px 0!important;
}

.activity-detail-table .element-title,
#contain .element-title{
	font-size: 13px;
    font-weight: bold;
    padding: 0 0 5px;
}

.element-item {
	border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px #EEEEEE;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.item-flow {
	height: 246px;
	overflow:auto;
}

/*.item-value {
	margin-left: 124px;
}*/
.element-item:hover{
	border:1px solid #B9E0FB;
	box-shadow: 0 0 5px #B9E0FB;
}

.sub_element .element-item {
	border:none;
	box-shadow:none;
	margin-bottom:0;
}

.element-values-items, #contain table.activity-info-table {
	border-left:2px solid #cfcdcd;
	margin-bottom:10px;
	padding-left:10px;
}

.element-values-items:hover, #contain table.activity-info-table:hover {
	border-left:2px solid #40a3e8;
}

.view-element-link {
	cursor: pointer;
	color: #009ADA;
	background: url(../images/arrow.png) no-repeat right 6px;
	padding-right: 12px;
}

.view-element-link:hover {
	background: #009ada url(../images/arrow-hover.png) no-repeat right 6px;
	color:#fff;
}

#iati_activity_change_status #status-label,
#iati_activity_change_status #ids-label,
#iati_activity_change_status #change_state-label,
#iati_activity_status #status-label,
#iati_activity_status #ids-label,
#register_registry_info-label,
#reset_password-label,
#forgotpassword-label,
#loginform-label,
#login-label,
#user_info-label,
#organisation_info-label,
#create_new_account-label,
#reporting_org_info-label,
#default_field_values-label,
#default_field_groups-label,
#file_ids-label,
#push_to_registry-label,
#iati_activity_status #change-label, #reporting_org-label{
	display: none;
}

.clearfix {
	clear: both;
}

.edit-element {
	padding: 4px 0 0 5px;
	vertical-align: middle;
}

a.edit-element:hover
{
	background-color:transparent;
}

/** view activity link **/
.viewer-link{
	float:right;
	font-size:12px;
	padding-right:5px;
}

#activity-edit-form {
	clear: both;
}

#publishing_info-label, #registry_info-label, #publishing_type-element br {
	display: none;
}
/**************Start Footer section****************/
#footer
{
	background:#fff;
	border-top:5px solid #d3d3d3;
	padding-bottom:20px;
}
#footer .footer-title
{
	color:#4b4b4b;
	font-size:26px;
	font-weight:normal;
	margin:40px 0 15px;
}

.footer-slider .prev, .footer-slider .next 
{
	display:none;
}

/**************Close Footer section****************/

/** css for support form **/
#support-holder
{
	position: fixed;
	width: 100%;
}

#support-container
{
	position: relative;
	top: 0;
	left: 0;
	z-index: 900;
}

#support-wrapper
{
	font-size:12px;
	line-height:18px;
	position: absolute;
	top: -330px;
	right: 0;
}

#support-container .support
{
	background: #93cc56;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
   	color: #E8F8D7;
	cursor: pointer;
	float: right;
	font-size: 14px;
   	 width: 72px;
	height: 25px;
	padding: 5px 0 0 20px;
	position: absolute;
	right: 0;
	z-index: 100;
}

#support-container .support:hover,
#support-container .active
{
	background-color: #8bc24f;
}


#support-container .support-form
{
	background-color: #8bc24f;
	border-top: 2px solid #5a7240;
	border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	-webkit-border-radius:0 0 0 4px;
	color: #fff;
	padding: 0 0 13px;
}


form#support-form
{
	padding: 0 25px;
}

#support-container .support-form .support-info
{
	padding: 10px 25px;
}

#support-container .support-form .support-links
{
	background-color: #789a53;
	border-bottom:1px dotted #fff;
	padding: 10px 25px;
	font-size: 10px;
}

#support-container .support-form .support-links a
{
	color: #fff;
	text-decoration: underline;
}

#support-container .support-form .support-links a:hover
{
	color: #fff;
	text-decoration: none;
}

#support-container #support-form .form-required
{
	display: none;
}

#support-container #support-form .error
#contact-form .error
{
	color: red;
}

#support-container form dl
{
	overflow: hidden;
}

#support-container form dt
{
	clear: left;
	float: left;
	line-height: 39px;
	margin: 0;
	width: 103px;
}

#support-container form dt label
{
	color: #fff;
	width: 103px;
}

#support-container form dd
{
	float: left;
}

#support-container form dd input
{
	border: none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width: 215px;
	padding: 9px 5px;
}

#support-container form dd textarea
{
	border: none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width: 215px;
	padding: 5px;
	height: 90px;
}

#support-container form #support_submit
{
	background-color: #caf39f;
	border: 1px solid #587737;
	border-radius: 4px;
	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
	color: #49533f;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
	width:auto;
}

#support-container form #support_submit:hover
{
	background-color:#a4d572;
}

#support-container form #support_type
{
	background-color: #c8e7a7;
	border: none;
	color: #758465;
	font-size: 15px;
	width: 227px;
	height: 39px;
	margin: 0;
	padding: 10px 5px 0;
}

#support_submit-element
{
	margin-top: 5px;
}

/** Home page content **/
#what-as .about-content p,
#behind-aidstream .who-content p
{
	padding-right: 480px;
}

#what-as .about-content p.pragraph-second
{
}

/** Account page **/
#organization-logo {
	border-right:1px solid #ccc;
	float:left;
	padding-right:10px;
}

#organization-info {
	margin-bottom:20px;
}

#organization-info h2 {
	margin-bottom:10px;
}

#organization-details {
	margin-left: 170px;
}

.organization-deatail-item {
	margin-bottom:10px;
}

.profile-info {
	background: -moz-linear-gradient(center top , #F6F4F4 0%, #F8F8F8 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E3E3E4;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    padding: 11px;
}

.profile-info-inner {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E0E0;
    border-radius: 4px 4px 4px 4px;
}

.profile-item {
	border-bottom:1px solid #E6E7E7;
	padding:5px;
	margin-bottom:5px;
}

.last {
	border-bottom:none;
}

.profile-item-label {
	color:#727272;
}

h1.my-profile-title span {
	color:#ccc;
	font-size:12px;
	font-weight:normal;
}

.edit-this {
	margin-left:10px;
}

h1 .edit-this a, h1 .change-password a {
	background:transparent;
	color:#009ADA;
	font-size:12px;
	font-weight:normal;
	padding:0;
}

h1 .edit-this a:hover, h1 .change-password a:hover {
	background:#009ADA;
	border-radius:0;
	color:#fff;
	display: inline;
	padding:0;
}

/** popup theming **/
.popup-wrapper
{
	display: none;
}

.popup-wrapper .fade
{
	background: url(images/popup-bg.png) left top;
	opacity: 0.9;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 9999;
}

.popup-wrapper .popup-content
{
	background-color: #fff;
	-moz-box-shadow: 2px 2px 8px #000;
	-webkit-box-shadow: 2px 2px 8px #000;
	box-shadow: 2px 2px 8px #000;
	position: absolute;
	margin-left: -200px;
	margin-top: -100px;
	top: 30%;
	left: 40%;
	display: block;
	width: 820px;
	z-index: 99999;
}

.popup-wrapper .inner-content
{
	background: url(images/popup-content-bg.jpg) no-repeat 410px 38px;
	-moz-box-shadow: -2px -2px 8px #000;
	-webkit-box-shadow: -2px -2px 8px #000;
	box-shadow: -2px -2px 8px #000;
	padding: 38px;
	position: relative;
}

.popup-wrapper .inner-content h1.page-title
{
	margin: 0 0 20px;
	padding-right: 300px;
}

.popup-wrapper .inner-content p
{
	margin: 10px 0 !important;
}

.popup-wrapper .inner-content p.gap
{
	padding-right: 300px;
}

.popup-wrapper .close-link
{
	background: url(images/close-button.png) no-repeat left top;
	cursor: pointer;
	height: 67px;
	position: absolute;
	top: -24px;
	right: -30px;
	width: 75px;
}

/** Navigation after login**/
#home-user-nav
{
	background-color: #D5E0E4;
	line-height:16px;
}

#home-user-nav .nav_container
{
	font-size: 11px;
	color: #7b7c7c;
	padding: 5px 0 5px 0;
	text-align: right;
}

/** static header **/
#static-header
{
	position: fixed;
	width: 100%;
	z-index: 100;
}

#what-as, #how-as ,#contact-us, #behind-aidstream
{
	padding-top: 100px;
	overflow: hidden;
}

/** Flash messages**/
#index-flash-messages
{
	background-color: #fce9b6;
}

#index-flash-messages ul.error
{
	background-color: #fce9b6;
}

#index-flash-messages li
{
	margin: 0;
}

/** Hidden overlay **/
#hidden-overlay
{
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 899;
}

/** Login hidden overlay **/
#login-hidden-overlay
{
	display: none;
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 99;
}

/** tooltip **/
.dijitTooltipContainer {
    background-color: #FFFFFF;
    background-image: url("images/tooltip.png");
    background-position: -575px 100%;
    background-repeat: repeat-x;
    border: 1px solid #769DC0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 1em;
    padding: 6px 8px;
}

.dijitTooltipBelow .dijitTooltipConnector {
    background-position: -31px 0;
    height: 14px;
    left: 3px;
    top: 0;
    width: 16px;
}

.dijitTooltipConnector {
    background-image: url("images/tooltip.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 14px;
    width: 16px;
    z-index: 2;
}

/** css for Captcha input **/
#captcha-input {
	display: block;
	margin: 10px 0px 0px 170px;
}

/** Clear class **/
.nothing
{
	clear: both;
}

/** Css for inline edit form **/
.inline-content {
    border: 1px solid #EDEEE8;
    margin-bottom: 10px;
    padding: 5px;
	display: block;
    width: 95%;
}
.inline-form input {
	 background-color: #009ADA;
    border: medium none;
	border-radius: 4px;
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    padding: 5px 8px;
	margin-right: 8px;
}

.xml-lang td,
.defaults td {
	width: 25%;
	vertical-align: top;
}

.xml-lang td.help-message-text,
.defaults td.help-message-text {
	width: 75%;
}

/* Dojo pop up overrides */
.dijitDialogUnderlayWrapper
{
	background:#000 !important;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
}

.dijitDialogUnderlay, .claro .dijitDialogUnderlay
{
	background-color:transparent;
}

.claro .dijitDialog
{
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.claro .dijitDialogTitleBar
{
	background-color:#fff;
	background-image:none;
	border:none;
	font-size:18px;
	padding: 20px 20px 5px;
}

.claro .dijitDialogPaneContent
{
	border-top:none;
	padding: 0 20px 8px;
}

.claro .dijitDialogPaneContent p
{
	margin-left: 0 !important;
}

button#cd-cancel, button#cd-ok
{
	cursor: pointer;
	margin: 0.2em;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode, button#cd-cancel, button#cd-ok
{
	background-color:#009ADA;
	background-image:none;
	border:none;
	color: #fff;
	padding:5px 10px;
}

.claro .dijitButtonHover .dijitButtonNode, .claro .dijitDropDownButtonHover .dijitButtonNode, .claro .dijitComboButtonHover .dijitButtonNode, .claro .dijitToggleButtonHover .dijitButtonNode, button#cd-cancel:hover, button#cd-ok:hover
{
	background-color:#037BAC;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.remove a.button, .addmore a.button, #block-activity-menu .content li a, .action-icon a, .default-info, .message, .info, .error, ul.error, .warning, .activity-state .override-link, .add-element a.button, #activity-state-info td.data-label, .simplified-remove-element a.button, .simplified-add-more .button, .simplified-add-more .button:hover
{
	background-image:url('images/inner-pages-icons.png');
	background-repeat:no-repeat;
	background-color:transparent;
}

.remove a.button:hover, .addmore a.button:hover, #block-activity-menu .content li a:hover
{
	background-color:transparent;
}

.remove .button, .simplified-remove-element a.button
{
	background-position:0 5px;
}

.remove .button:hover, .simplified-remove-element a.button:hover
{
	background-position:0 -27px;
}

.addmore .button, .add-element .button, .simplified-add-more .button
{
	background-position:0 -58px;
}

.addmore a.button:hover, .add-element .button:hover, .simplified-add-more a.button:hover
{
	background-color:transparent;
	background-position:0 -90px;
}

#block-activity-menu .content li a
{
	background-position:0 -149px;
}

#block-activity-menu .content li a.active
{
	background-position:0 -120px;
}

#block-list-menu .action-icon a
{
	background-position:0 -679px;
}

#block-list-menu:hover .action-icon a
{
	background-position:0 -761px;
}

#block-add-menu .action-icon a
{
	background-position:0 -844px;
}

#block-add-menu:hover .action-icon a
{
	background-position:0 -927px;
}

#block-list-published-files .action-icon a
{
	background-position:0 -1010px;
}

#block-list-published-files:hover .action-icon a
{
	background-position:0 -1093px;
}

#block-list-help .action-icon a
{
	background-position:0 -1176px;
}

#block-list-help:hover .action-icon a
{
	background-position:0 -1259px;
}

/* change Default Page */
.default-info {
	background-color:#fff88d;
	background-position:10px -283px;
	margin: 1.5em 0;
	padding:10px 10px 10px 79px;
	border: 1px dotted #aaa23b;
}

dd#captcha-element
{
	margin-left: 208px;
}

/*alert massage*/

.errors, p.error
{
	font-size:12px;
	background:url(../images/wrong-icon.gif) no-repeat center left;
	color:#FF0000;
	margin-left:100px;
	padding:1px 0 1px 20px;
}

p.error, #contain p.error
{
	padding-left:20px;
}

.errors li
{
	margin:5px 0;
}
.form-required
{
	color:#F00;
}

#flash-messages ul {
	margin-bottom: 10px;
}

.message, .info
{
	background-position:15px -503px;
	padding-left:40px;
}

#flash-messages .message, #flash-messages .info
{
	background-position:15px -508px;
}

.message li
{
	padding: 9px;
}
.warning li, .info li
{
	margin: 0;
	padding: 9px;
}

.warning
{
	background-position:15px -586px;
	padding-left:40px;
}

#flash-messages .warning
{
	background-position:15px -589px;
}

.warning li, .info li, .error li
{
	margin: 0;
	padding: 9px;
}

ul.error
{
	background-position:15px -420px;
	padding-left:40px;
}

#flash-messages ul.error
{
	background-position:15px -425px;
}

.error, span#username-error.error, span#password-error.error
{
	color:#FF0000;	
}

span#username-error.error, span#password-error.error
{
	background:none;	
}

fieldset ul.errors, fieldset p.error {
	margin-left: 210px;
}

.message, .info, .error, ul.error, .warning
{
	background-color:#fce9b6;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-size:12px;
	font-style:italic;
	color: #000;
}

input.error, select.error, textarea.error
{
	background:none;
	border:1px solid #d80808;
	border-radius:0;
}

fieldset #captcha-element ul.errors
{
	margin-left:0;
}

/* Dashboard */
.dashboard-content {
	font-size:14px;
	line-height:22px;
}

.dashboard-content .general-info {
	border-bottom:1px solid #f1f2f2;
	margin-bottom:13px;
	padding:0;
}

.general-info-label {
	color:#7e7e7e;
}

.general-info-value {
	font-weight:bold;
}

#last-updated-wrapper {
	margin-left: 21px;
}

#last-updated-wrapper .general-info-label {
	background:url(../images/date_icon.png) no-repeat left center;
	padding-left:18px;
}

.dashboard-left-col {
	float:left;
	margin-right:30px;
}

.dashboard-right-col {
	float:right;
}

.dashboard-block {
	background: rgb(246,244,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,244,244,1) 0%, rgba(248,248,248,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,244,244,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(248,248,248,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(246,244,244,1) 0%,rgba(248,248,248,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4f4', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
	border:1px solid #e3e3e4;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-bottom:30px;
	padding:11px;
	width:256px;
}

.block-info {
	border-bottom:1px solid #e8e8e8;
	font-weight:bold;
}

.block-data {
	border-top:1px solid #fff;
	padding-top:6px;
}

#contain table.block-data-list {
	background:#fff;
	border:1px solid #e1e0e0;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#contain table.block-data-list tr, #contain table.block-data-list td {
	background-color:#fff;
}

#contain table.block-data-list tr {
	border-bottom:1px solid #e6e7e7;
}

#contain table.block-data-list td {
	padding-left:14px;
}

#contain #activity-state-info table.block-data-list td.data-label {
	padding-left:35px;
}

#edit {
	background-position:10px -1337px;
}

#completed {
	background-position:10px -1376px;
}

#verified {
	background-position:10px -1415px;
}

#published {
	background-position:10px -1454px;
}

td.data-value {
	text-align:center;
	width:30px;
}

#registry-info .block-data-inner {
	background-color:#fff;
	padding:10px 15px;
}

.ele-id {
    display : none;
}

/*-- Simplified --*/
#simplified-default-form select{
	width: 304px;
}

#simplified-default-form .zend_form {
	margin:10px 0;
}

#simplified-default-form .zend_form .form-wrapper {
	background:#F4F4F4;
	padding:10px 0;
	padding-bottom:0;
}

#simplified-default-form .zend_form .form-wrapper + .form-wrapper {
	border-top:1px dashed #cdcdcd;
}

#commitment-0-remove-label {
	display:none;
}

.simplified-remove-element {
	display:inline;
	margin-bottom:0;
}

.title-edit-wrapper {
	position: relative;
	margin-bottom:10px;
}

.edit-link {
	position:absolute;
	top:10px;
	right:0;
}

.edit-link a {
	background:#ebebeb;
	border: 1px solid #dfdfdf;
	border-radius:2px;
	padding:5px 10px;
}

.edit-link a:hover {
	background: #009ADA;
	border:1px solid #0283b9;
}

.title-edit-wrapper .activity-title {
	text-transform:capitalize;
	margin-bottom:10px;
	padding-bottom:0;
}

.title-edit-wrapper .activity-title, .title-edit-wrapper .activity-identifier {
	width:473px;
}

.title-edit-wrapper .activity-identifier .activity-identifier-title {
	color:#727272;
}

#simplified_activity {
	color: #414141;
}

#simplified_activity .activity-elements-view-wrapper, #simplified-default-form .form-elements-wrapper {
	background: #f2f2f2;
	border: 1px solid #cacaca;
	-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
    box-shadow: inset 0px 0px 0px 1px #ffffff;
	margin-bottom:22px;
	padding:20px;
}

#simplified_activity .activity-elements-view-title, #simplified-default-form .elements-group-title {
	font-size: 21px;
	line-height: 29px;
	margin-bottom: 10px;
}

td.activity_view_label {
	color:#525252;
	width: 202px;
}

.activity-elements-view thead tr {
	border-bottom: 1px solid #868686;
	color:#4a4a4a;
}

.activity-elements-view tbody tr {
	border-bottom: 1px solid #d8d8d8;

}

.activity-elements-view {

}

.activity-elements-view tbody tr.activity_view_first {
	border-top:none;
}

/*-- Simplified form --*/
#simplified-default-form .form-elements-wrapper {

}

.table-width {
	width:200px;
}

.add-more-link a {
	background: #009ADA;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    padding: 5px 12px;
    text-decoration: none;
}

.add-more-link a:hover {
	background: #037BAC;
}

.dijitPopup table.activity-detail-table {
	width: 100%;
}